html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.page-header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.page-header h1 {
  margin: 0;
  font-size: large;
}
